.container {
  width: 60%;
  display: block;
}

p, span, h1, h2, h3 {
  margin: 0;
}

.details {
  width: 100%;
  display: block;
}

h1, h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #404040;
  font-size: 2em;
}

.user-information {
  width: 100%;
  margin: 4vh 0;
  display: block;
}

.user-information span,
.user-information a {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

.user-information span {
  color: rgba(64, 64, 64, .8);
}

.user-information a {
  color: rgba(27, 99, 165, .8);
  cursor: pointer;
}

.user-information a:hover {
  color: #5a9ad6;
}

ul {
  padding: 0 !important;
}

ul li {
  margin: 0 !important;
  list-style: none;
}

h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 2;
  color: rgba(50, 50, 50, .8);
}

.user-information span {
  font-weight: normal;
}

.posts {
  width: 100%;
  position: relative;
  top: 4vh;
}

.btn-add-post {
  position: absolute;
  right: 0;
  top: 0;
  background: #1B63A5;
  padding: 1.2vh 2vw;
  border-radius: 4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  font-size: .8em;
  border: 0!important;
}

.btn-add-post:hover {
  background: #1f72bf;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4vh;
}

th, td {
  border: .8px solid #404040;
  padding: 1.5vh .7vw;
}

th, td {
  font-style: normal;
  font-weight: normal;
  color: #404040;
  font-size: .9em;
}

th {
  font-family: Poppins, sans-serif;
}

td {
  font-family: Open Sans, sans-serif;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
